extends layout

include mixins/_reviewForm

block content
  .single
    .single__hero
      img.single__image(src=`/uploads/${company.photo || 'company.jpg'}`)
      h2.title.title--single
        a(href=`/companies/${company.slug}`) #{title}
  .single__details.inner
    img.single__map(src=h.staticMap(company.location.coordinates))
    p.single__location= company.location.address
    p= company.description

    if company.tags
      ul.tags
        each tag in company.tags
          li.tag
            a.tag__link(href=`/tags/${tag}`)
              span.tag__text= tag

    if user 
      +reviewForm(company)
