extends layout

include mixins/_companyCard
include mixins/_pagination
include mixins/_miningCalculator

block content
  .inner
    .front-header.front-slogan
      .front-header__container
        h3 Bittrust.ru поможет купить майнер и не потерять деньги! Делаем обзоры и сравниваем услуги компаний на рынке криптовалют.
    ul.tags
      each t in tagsEng
        li.tag
          a.tag__link(href=`/tags/${(t.slg)}` title=`${t._id}`)
            span.tag__text= t._id
            span.tag__count= t.count
    .newcomps
      .newcomps__header__number
        h1 Купить Майнер в Москве
        .newcomps__header__number--num - #{count} компании
      .newcomps__bullets
        ul
          li купить майнер - Мы нашли для вас более #{count} компаний в Москве
          li список компаний и отзывов постоянно пополняется!
          li купить майнер - адреса на карте, отзывы и рейтинг

    .companies.front-grid
      each company in companies
        +companyCard(company, tag)
    +pagination(page, pages) 

    .below-main-content
      h2 <span>Выбор Оборудования для Майнинга</span>
      p В нашем каталоге представлены компании, которые занимаются продажей различного оборудования для майнинга криптовалют. На сегодняшний день существует <strong>3 основных</strong> способа добычи криптомонет:
      ul
        li <strong>ASIC майнеры</strong>. На сегодняшний день Асики - единственный вариант, который позволяет эффективно добывать Bitcoin. Основная причина - постоянно растущий уровень сложности генерации блоков Биткойн. Здесь большим спросом пользуется продукция компании Bitmain. <strong>Популярные</strong> модели Асик майнеров:
          ul
            li Antminer S9 (хешрейт 13,5 TH/s)
            li Antiminer S9i (хешрейт 14,00 TH/s)
            li Antminer S9 Hydro (хешрейт 18,00 TH/s)
          li <strong>GPU фермы</strong>. По сути представляют собой несколько видеокарт, объединенных в один кластер. В этой категории достаточно популярно оборудование на базе карт GeForce GTX от компании NVIDIA:
            ul
              li Кластер из 4-х видеокарт GTX 1060
              li Кластер из 6 видеокарт GTX 1080
          li <strong>Процессоры</strong>. Здесь имеется ввиду добыча криптовалют с помощью компьютеров. Сегодня данный способ подходит для добычи менее популярных криптомонет с <strong>низким</strong> уровнем сложности генерации блоков. 



