extends layout

include mixins/_companyCard

block meta
  meta(charset="UTF-8")
  title= `${tag || title} | ${h.siteName}`
  meta(name="description" content=`${metaDescription ? metaDescription : 'Все компании и категории'}`)
  - const dynamicSlug = tagOriginal ? `/${tagOriginal}` : ''
  link(rel="canonical" href=`https://bittrust.ru/tags${dynamicSlug}`)
  link(rel='stylesheet', href='/dist/style.css')
  link(rel="shortcut icon" type="image/png" href="/images/icons/btc.png")
  meta(name="viewport" content="width=device-width, initial-scale=1")
block content
  .inner
    .front-header
      h1 #{tag || 'Категории'}
      if description
        p #{description}
    - let tcount
    ul.tags
      each t in tagsEng
        li.tag
          a.tag__link(href=`/tags/${(t.slg)}` class=(t._id === tag ? "tag__link--active" : ''))
            span.tag__text= t._id
            span.tag__count= t.count
    .companies
      each company in companies
        +companyCard(company)
