mixin companyCard(company = {})
  .company
    .company__hero
      .company__actions
        .company__action.company__action--edit
          a(href=`/companies/${company._id}/edit`)
            != h.icon('pencil')
      img(src=`/uploads/${company.photo || 'company.png'}`)
      h2.title
        a(href=`/companies/${company.slug}`) #{company.name}
    .company__details
      p= company.description.split(' ').slice(0, 25).join(' ')
